*{
    outline: 1px solid #f00;
       
}

.acm_header_banner{
    width: 100%;
    margin: auto;
    height: 100%;
    max-height: 60vh;
}
.acm_header_banner img{
    width: 100%;
    max-height: 60vh;
}

/* content */

.acm_content{
    width: 100%;
    margin: auto;
}
.acm_hot{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* acm_suggest */
.acm_hot_bg{
    padding: 50px;
    box-sizing: border-box;
}


.title_box{
    width:30vw;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #e8dcd7 solid;
    padding:5px;
      
}

.title_box .title{
    background: #e8dcd7;
}

.title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
}

.acm_hot_warp {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
  }
  
  .acm_title_bg{
    background-color: #0f0;
  }
  
  .acm_pic {
    width: 100%;
    background-color: #fd0;
    font-size: 0;
  }
  
  .acm_pic img {
    width: 100%;
  }
  
  .text_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color:000;
  }
  
  .text_box_pic {
    width: 80%;
    height: 10vh;
    background-color: #fa0;
    box-sizing: border-box;
    margin: 20px;
  }
  .text_box_txt {
    width: 80%;
    height: 20vh;
    border:1px #2D989C dashed; 
    background-color: rgb(247, 248, 159);
    box-sizing: border-box;
  
  }
  
  .text_box_txt p{
      height: 100%;
      overflow:hidden;
  }
 
 
  @media screen and (min-width: 768px) {
    .acm_hot_warp {
      flex-flow: row;
    }
    .text_box {
      margin-top: 0;
    }
  
    .acm_hot_warp:nth-child(even) .acm_col:first-child {
      order: 1;
    }
  }










.acm_suggest .title_box{
    width:30vw;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #fff solid;
    padding:5px;
      
}

.acm_suggest .title{
    background: #fff;
}

.acm_suggest .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
}




  .acm_suggest_bg{
    width: 100%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    background-color: #e8dcd7;
  }

 



  /* -------------------------------- */
