
body{
    width: 1200px;
    margin: auto;
}

*{
    /* outline: 1px solid #f00; */
}

/* header */
/* 頁首推薦文章 */

.dm_new_popular{
    width: 100%;
    background-color: #fff;
    display:flex;
    justify-content: center;
    padding: 25px 0;
}

.dm_popular_row{
    width: 500px;
    height: 500px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dm_popular_main_col{
    width: 100%;
    height: 50%;
    background-color: #fff;
}

.dm_popular_main_col_img{
    background-image: url(img/IMAG2684.jpg);
    background-size: 100%;
}


.dm_popular_row_col{
    width: 100%;
    height: 30%;
    display: flex;
}

.dm_popular_row_col_row{
    height: 100%;
}

.dm_popular_minor_item_img_top{
    width: 40%;
    background-image: url(img/53347602_624053361387323_2135152109698416640_n.jpg);
    background-size: 100%;
}

.dm_popular_minor_item_img_middle{
    width: 40%;
    background-image: url(img/53461706_620035815122411_454744553115615232_n.jpg);
    background-size: 100%;
}

.dm_popular_minor_item_img_bottom{
    width: 40%;
    background-image: url(img/53084559_620035735122419_7383669773965459456_n.jpg);
    background-size: 100%;
}

.dm_popular_minor_item_text{
    width: 60%;
    background-color: #ddf0eb;
    box-sizing: border-box;
    border:#ccc 1px solid;
    padding: 10px;
    position: relative;

}

.dm_popular_main_col_text{
    box-sizing: border-box;
    border:#ccc 1px solid;
    padding: 10px;
    background-color: #ddf0eb;
}

/* 文字調整 */

.dm_popular_main_col_text h1{
    font-size: 24px;
    margin: 15px 0;
    font-weight:bold;
    color: #2e2e2e;
}

.dm_popular_main_col_text p{
    font-size: 15px;
    line-height: 20px;
    color: #555454;
}

.dm_popular_main_col_text span{
    color:#2e2e2e;
    font-weight: bold;
    display: block;
    text-align: right;
}

.dm_popular_minor_item_text h2{
    font-size:18px;
    font-weight: bold;
    color: #2e2e2e;
}

.dm_popular_minor_item_text span{
    display: block;
    line-height: 30px;
    color: #555454;
    text-align: right;
    font-weight: bold;
}

.dm_popular_minor_item_text p{
    font-size: 12px;
    color:#555454;
    position:absolute;
    bottom: 10px;
    right: 10px;
}




/*其他文章 側邊排行 */



.md_content_main{
    width: 1200px;
    display: flex;
    padding: 80px 0 30px 0;
}

/* 文章分類*/
.md_article{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 文章內容 */
.md_article_item{
    width:100%;
    height: 120px;
    background-color:rgb(223, 217, 217);
    display: flex;
    flex-direction: row;
    }


.md_article_item_img{
    width: 30%;
    height: 100%;
    background-image: url(img/alesha-cody-1207272-unsplash.jpg);
    background-size: 100%;

}

.md_article_item_text{
    width: 70%;
    height: 100%;
    padding: 10px;
}

.md_article_item_text h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.md_article_item_text p{
    font-size: 13px;
    line-height: 18px;
}


/* 熱門排行 */
/* 第一層做直排 */
.md_popular_list{
    width: 30%;
    display: flex;
    flex-direction: column;
}

/* 第二層做橫排 */
.md_popular_list_main{
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
}

.md_popular_list_main_nb{
    width: 30%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 10px;
}

.md_popular_list_main_title{
    width: 80%;
    position: relative;
    padding: 10px 0 0 0;
}

/* 文字調整 */

.md_popular_list_main_nb h4{
    font-size: 30px;
    height: 100%;
    text-align: right;
    color:  #555454;
}

.md_popular_list_main_title h2{
    font-size: 18px;
    color: #2e2e2e;
    font-weight: bold;

}

.md_popular_list_main_title span{
    font-size: 13px;
    color: #555454;
    position:absolute;
    bottom: 10px;
    right: 10px;
}






/* 裝飾調整 */
.md_popular_list>div:not(:first-child){
    border-top: #ccc 1px solid;
}


