
 /* #87CEEB #B0E0E6 #FFFFE0 */

body{
    font-family: 'Noto Sans TC', sans-serif;
}
 /* -------------------------main_navbar--------------------------- */
#menu_control{
    position: absolute;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #bdd6cf;
}

#menu_control{
   position: absolute;
   z-index: -1;
}

.navlogo{
    height: 100%;
    /* background-color: #87CEEB; */
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.navlogo a{
    display: inline-block;
    width: 40%;
    height: 100%;
}

.navlogo img{
width: 100%;
height: 100%;
}



.hb_link{
    width: 30px;
    height: 29px;
    /* background-color: #ccc; */
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 0;
    top:0;
    transform: translate(0%,50%);
}

.line{
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: .5s;
}

.line_t{
    top:5px;
    transform: rotate(0deg);
}

.line_c{
    top:13px;
    opacity: 1;
   
}

.line_b{
    bottom: 5px;
    transform: rotate(0deg);
}

#menu_control:checked ~ .navlogo .line_t{
    top:13px;
    transform: rotate(45deg);
}

#menu_control:checked ~ .navlogo .line_c{
   opacity: 0;
}

#menu_control:checked ~ .navlogo .line_b{
    bottom:13px;
    transform: rotate(-45deg);
}

.main_nav{
    background-color:  #e8dcd7;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    /* transform: translateX(99%); */
    clip-path: circle(0px at 90% -10%);
    transition: clip-path .8s;
    position: relative;
    z-index:11;
}

#menu_control:checked ~ .main_nav{
    /* transform: translateX(0%); */
    clip-path: circle(1500px at 90% -10%);
}

.main_nav a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.search_bar{
    display: flex;
    position: relative;
   
}

.search_bar input{
    outline: none;
    border: 0px;
    height: 20px;
    width: 200px;
}


.search_bar a{
    /* background-color: #ccc; */
    width: 22px;
    height: 22px;
    position: absolute;
    right: -30px;
}

.search_bar img{
    width:100%;
    height:100%;
}

.search_pc{
    display:none;
}

@media screen and (min-width:768px){
    .navbar{
        display: flex;
        height: 100px;
        padding: 5px 40px;
        box-sizing: border-box;
    }

    .navlogo{
        padding:0;
        /* width: 50%; */
    }

    .navlogo img{
        width: 80px;
        height: 80px;
    }
    

    .main_nav{
        flex-flow: row;
        clip-path:none;
        height: 100%;
        width: 550px;
        margin-left: auto;
        justify-content:space-between;
        background:rgba(0,0,0,0);
    }
    
    .search_bar{
        display: none;
    }

    .search_pc{
        width: 20px;
        height: 20px;
        display: inline-block;
    }

    .hb_link{
        display: none;
    }

    .search_bar input{
        width: 0px;
    }
    
}
/* ---------------------------------------------------- */
/* ------------------------footer---------------------------- */
.copyright{
    width: 100%;
    background-color: #e8dcd7;
    color: #fff;
}

.copyright p{
    color: #2e2e2e;
font-size: 13px;
text-align: center;
line-height: 30px;
}

/* ------------------------home_carousel---------------------------- */


.container {
    width: 100%;
    margin: auto;
   
}

.carousel_item .item {
    width:100%;
    max-height: 600px;

  
}
.carousel_item img{
        width:100%;
        height:100%;
        vertical-align: bottom;
}

/* Carousel */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel_container {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform 0.5s;
}

.carousel_item {
    position: relative;
    float: left;
    width: 20%;
}

/* Next / Prev Buttons */

.carousel_prev,
.carousel_next {
    position: absolute;
    top: 50%;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.carousel_prev {
    left: 2%;
  
}

.carousel_prev::before {
    content: '<';
    font-weight:bold;
}

.carousel_next {
    right: 2%;

}

.carousel_next::before {
    content: '>';
}

.carousel_prev:hover,
.carousel_next:hover {
    opacity: 1;
}

/* Pagination */

.carousel_pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel_bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel_bullet:hover {
    transform: scale(1.2);
}

.carousel_bullet.active_bullet, 
.carousel_bullet.active_bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}

/* -- -----------------------carousel------------------------- -- */
/* -- ----------------------content------------------------- - */

/* main */
/* title */
.main .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #fff solid;
    padding:5px;
    margin-bottom: 40px;        
}

.main .title_box .title{
    background: #fff;
}

.main .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
    color: #2e2e2e;
}
/* title */
.main{
    background-color:#e8dcd7;
}

.main_box{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
   
}

.main_wrap{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.main_wrap .col{

box-sizing: border-box;
padding: 30px;

}

.main_wrap .item{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #fff;
   
}

.main_wrap img{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

@media screen and (min-width:768px){
    .main_wrap{
        flex-flow: row nowrap;
    }

    .main_box .title_box{
        width: 30vw;
    }
}


/* main */
/* go_walkdog */
/* txt */
.go_walkdog_main .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #e8dcd7 solid;
    padding:5px;
    margin-bottom: 40px;        
}

.go_walkdog_main .title_box .title{
    background: #e8dcd7;
    
}

.go_walkdog_main .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
    color: #2e2e2e;
}

.go_walkdog_main{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
  
}
/* txt */
/* wrap */
.go_walkdog_wrap{
    width: 100%;
    min-width: 320px;
    margin: auto;
}
.go_walkdog_wrap .pic{
    width: 90%;
    height: 300px;
    background-color: #ccc;
    margin: auto;
    position: relative;
}

.go_walkdog_wrap .bg{
    width: 100%;
    height: 100%;
    background-color: #e8dcd7;
    position: absolute;
    right: 20px;
    top:20px;
    z-index: -1;  
}


.go_walkdog_wrap .txt{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 0;
   
}

.go_walkdog_wrap img{
    width: 100%;
    height: 100%;
}


@media screen and (min-width:768px){
    .go_walkdog_wrap_t , .go_walkdog_wrap_m{
        position: relative;
        margin-top:100px;
    }
    
    .go_walkdog_wrap .pic_box{
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .go_walkdog_wrap_m .pic_box{
        justify-content: flex-start;
        
    }

    .go_walkdog_wrap_m .pic_pc{
        display: block;
        width: 40%;
      
        background-color: #aaa;
    }
   
    .go_walkdog_wrap_t .pic_pc{
        display: block;
        width: 40%;
   
        background-color: #aaa;
        order: 2;
    }

    .go_walkdog_wrap .bg_pc{
        display: block;
        width:30%;
        height: 400px;
        background-color: #e8dcd7;
    }

    .go_walkdog_wrap .bg{
       display: none;
    }

    .go_walkdog_wrap .pic{
        width: 100%;
        height: 100%;
    }

   

    .go_walkdog_wrap_t .txt{
        width: 100%;
        max-width: 600px;
        position: absolute;
        top: 0;
        bottom: 0;
        transform: translate(0,50%);
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .go_walkdog_wrap_m .txt{
        width: 100%;
        max-width: 600px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(0,50%);
        display: flex;
        flex-flow: column;
        justify-content: flex-end
    }

    .go_walkdog_main .title_box{
        width: 30vw;
    }


        
}


/* wrap */

/* go_walkdog */
.go_walkdog_wrap h2{
    font-size: 24px;
    line-height:50px;
    letter-spacing: 1px;
    color: #2e2e2e;
}

.go_walkdog_wrap p{
    font-size: 15px;
    line-height:30px;
    letter-spacing: 1px;
    color: #2e2e2e;
}


/* qna */
.qa_wrap_box {

    max-width: 1200px;
    width: 100%;
    margin: auto;
    color: #2e2e2e;
    
}

.qa_wrap {
    width: 100%;
    box-sizing: border-box;
    background-color: #e8dcd7;
    border-bottom:1px solid #fff;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 10px;
    color: 2e2e2e;
    cursor: pointer;
}

.qa_main {
    box-sizing: border-box;
    padding: 0px;
    border: 1px solid #e8dcd7;
    height: 0;
    opacity: 0;
    font-size: 0;
    line-height: 0;
    transition:height .5s,opacity .0s;
}


#qa_a:checked~.qa_wrap_box .qa_main_a {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    opacity: 1;
    line-height: 30px;
    transition:height .5s,opacity .5s .5s;
}

#qa_b:checked~.qa_wrap_box .qa_main_b {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .5s,opacity .5s .5s;
}

#qa_c:checked~.qa_wrap_box .qa_main_c {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .5s,opacity .5s .5s;
}

#qa_d:checked~.qa_wrap_box .qa_main_d {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .5s,opacity .5s .5s;
}

#qa_e:checked~.qa_wrap_box .qa_main_e {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .3s,opacity .3s .3s;
}
input{
    display:none;
}
.qna_wrap{
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    margin:auto;
}

.qna_wrap .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #e8dcd7 solid;
    padding:5px;
    margin-bottom: 40px;  
}

.qna_wrap .title_box .title{
    background: #e8dcd7;
}

.qna_wrap .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
    color: #2e2e2e;
}


@media screen and (min-width:768px){
    .qna_wrap .title_box{
        width: 30vw;
    }
}


/* -- ----------------------content------------------------- - */