
 /* #87CEEB #B0E0E6 #FFFFE0 */

body{
    font-family: 'Noto Sans TC', sans-serif;
}
 /* -------------------------main_navbar--------------------------- */
#menu_control{
    position: absolute;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #e8dcd7;
}

#menu_control{
   position: absolute;
   z-index: -1;
}

.navlogo{
    height: 100%;
    /* background-color: #87CEEB; */
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.navlogo a{
    display: inline-block;
    width: 40%;
    height: 100%;
}

.navlogo img{
width: 100%;
height: 100%;
}



.hb_link{
    width: 30px;
    height: 29px;
    /* background-color: #ccc; */
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 0;
    top:0;
    transform: translate(0%,50%);
}

.line{
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: .5s;
}

.line_t{
    top:5px;
    transform: rotate(0deg);
}

.line_c{
    top:13px;
    opacity: 1;
   
}

.line_b{
    bottom: 5px;
    transform: rotate(0deg);
}

#menu_control:checked ~ .navlogo .line_t{
    top:13px;
    transform: rotate(45deg);
}

#menu_control:checked ~ .navlogo .line_c{
   opacity: 0;
}

#menu_control:checked ~ .navlogo .line_b{
    bottom:13px;
    transform: rotate(-45deg);
}

.main_nav{
    background-color:  #e8dcd7;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    /* transform: translateX(99%); */
    clip-path: circle(0px at 90% -10%);
    transition: clip-path .8s;
    position: relative;
    z-index:11;
    border-top: 2px #fff solid;
}

#menu_control:checked ~ .main_nav{
    /* transform: translateX(0%); */
    clip-path: circle(1500px at 90% -10%);
}

.main_nav a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.main_nav a:hover{
    color:#d3bb8d;
}

.search_bar{
    display: flex;
    position: relative;
   
}

.search_bar a{
    /* background-color: #ccc; */
    width: 22px;
    height: 22px;
    position: absolute;
    display:inline-block;
    right: 0;
    left: 0;
    transform: translate(-50%,50%);
}

.search_bar img{
    width:100%;
    height:100%;
}

.search_pc{
    display:none;
}

@media screen and (min-width:768px){
    .navbar{
        display: flex;
        height: 100px;
        padding: 5px 40px;
        box-sizing: border-box;
    }

    .navlogo{
        padding:0;
        /* width: 50%; */
    }

    .navlogo img{
        width: 80px;
        height: 80px;
    }
    

    .main_nav{
        flex-flow: row;
        clip-path:none;
        height: 100%;
        width: 550px;
        margin-left: auto;
        justify-content:space-between;
        background:rgba(0,0,0,0);
        border: none;
    }
    
    .search_bar{
        display: none;
    }

    .search_pc{
        width: 20px;
        height: 20px;
        display: inline-block;
    }

    .hb_link{
        display: none;
    }

    .search_bar input{
        width: 0px;
    }
    
}
/* ---------------------------------------------------- */
/* ------------------------footer---------------------------- */
.copyright{
    width: 100%;
    background-color: #e8dcd7;
    color: #fff;
}

.copyright p{
    color: #2e2e2e;
font-size: 13px;
text-align: center;
line-height: 30px;
}

/* ------------------------home_carousel---------------------------- */


.container {
    width: 100%;
    margin: auto;
   
}

.carousel_item .item {
    width:100%;
    max-height: 600px;

  
}
.carousel_item img{
        width:100%;
        height:100%;
        vertical-align: bottom;
}

/* Carousel */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel_container {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform 0.5s;
}

.carousel_item {
    position: relative;
    float: left;
    width: 20%;
}

/* Next / Prev Buttons */

.carousel_prev,
.carousel_next {
    position: absolute;
    top: 50%;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.carousel_prev {
    left: 2%;
  
}

.carousel_prev::before {
    content: '<';
    font-weight:bold;
}

.carousel_next {
    right: 2%;

}

.carousel_next::before {
    content: '>';
}

.carousel_prev:hover,
.carousel_next:hover {
    opacity: 1;
}

/* Pagination */

.carousel_pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel_bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel_bullet:hover {
    transform: scale(1.2);
}

.carousel_bullet.active_bullet, 
.carousel_bullet.active_bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}

/* -- -----------------------carousel------------------------- -- */
/* -- ----------------------content------------------------- - */

/* main */
/* title */
.main .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #fff solid;
    padding:5px;
    margin-bottom: 40px;        
}

.main .title_box .title{
    background: #fff;
}

.main .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
    color: #2e2e2e;
}
/* title */
.main{
    background-color:#e8dcd7;
}

.main_box{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
   
}

.main_wrap{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.main_wrap .col{

box-sizing: border-box;
padding: 30px;

}

.main_wrap .item{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #fff;
   
}

.main_wrap img{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.acm_box , .wrk_box , .rst_box{
position: relative;
}
.acm_dese{
    width: 50%;
    height: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    opacity: .8;
    border: #aaa 1px solid;
    display:flex;
    flex-flow: column;
    justify-content: center;
    color: #2e2e2e;
}

.acm_dese span{
    display: block;
    font-size: 24px;
    color: #2e2e2e;
  
}

.wrk_box span{
    display: block;
    font-size: 24px;
    color: #2e2e2e;
}




@media screen and (min-width:768px){
    .main_wrap{
        flex-flow: row nowrap;
    }

    .main_box .title_box{
        width: 30vw;
    }
}


/* main */
/* go_walkdog */
/* txt */
.go_walkdog_main .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #e8dcd7 solid;
    padding:5px;
    margin-bottom: 40px;        
}

.go_walkdog_main .title_box .title{
    background: #e8dcd7;
    
}

.go_walkdog_main .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
    color: #2e2e2e;
}

.go_walkdog_main{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
  
}
/* txt */
/* wrap */
.go_walkdog_wrap{
    width: 100%;
    min-width: 320px;
    margin: auto;
}
.go_walkdog_wrap .pic{
    width: 90%;
    height: 300px;
    background-color: #ccc;
    margin: auto;
    position: relative;
}

.go_walkdog_wrap .bg{
    width: 100%;
    height: 100%;
    background-color: #e8dcd7;
    position: absolute;
    right: 20px;
    top:20px;
    z-index: -1;  
}


.go_walkdog_wrap .txt{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 0;
   
}

.go_walkdog_wrap img{
    width: 100%;
    height: 100%;
}


@media screen and (min-width:768px){
    .go_walkdog_wrap_t , .go_walkdog_wrap_m{
        position: relative;
        margin-top:100px;
       
    }
    
    .go_walkdog_wrap .pic_box{
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .go_walkdog_wrap_m .pic_box{
        justify-content: flex-start;
        
    }

    .go_walkdog_wrap_m .pic_pc{
        display: block;
        width: 40%;
      
    
    }
   
    .go_walkdog_wrap_t .pic_pc{
        display: block;
        width: 40%;
   
        order: 2;
    }

    .go_walkdog_wrap .bg_pc{
        display: block;
        width:30%;
        height: 400px;
        background-color: #e8dcd7;
    }

    .go_walkdog_wrap .bg{
       display: none;
    }

    .go_walkdog_wrap .pic{
        width: 100%;
        height: 100%;
    }

   

    .go_walkdog_wrap_t .txt{
        width: 100%;
        max-width: 600px;
        position: absolute;
        top: 0;
        bottom: 0;
        transform: translate(0,50%);
        display: flex;
        flex-flow: column;
        justify-content: center;
        color: #2e2e2e;
    }

    .go_walkdog_wrap_t .txt::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #d3bb8d;
        display: block;
    }

    
    .go_walkdog_wrap_m .txt::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #d3bb8d;
        display: block;
    }

    
    .go_walkdog_wrap_b .txt::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #d3bb8d;
        display: block;
    }

    .go_walkdog_wrap_m .txt{
        width: 100%;
        max-width: 600px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translate(0,50%);
        display: flex;
        flex-flow: column;
        justify-content: flex-end
    }



    .go_walkdog_main .title_box{
        width: 30vw;
    }


        
}




/* wrap */

/* go_walkdog */
.go_walkdog_wrap h2{
    font-size: 24px;
    line-height:50px;
    letter-spacing: 1px;
    color: #2e2e2e;
}

.go_walkdog_wrap p{
    font-size: 15px;
    line-height:30px;
    letter-spacing: 1px;
    color: #2e2e2e;
    margin-bottom: 10px;
}

.btn{
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #d3bb8d;
    color: #fff;
    box-sizing: border-box;
}

.btn:hover{
    background-color:#ddcaa6;
}


/* qna */
.qa_wrap_box {

    max-width: 1200px;
    width: 100%;
    margin: auto;
    color: #2e2e2e;
    
}

.qa_wrap {
    width: 100%;
    box-sizing: border-box;
    background-color: #e8dcd7;
    border-bottom:1px solid #fff;
    color: #2e2e2e;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 10px;
    color: 2e2e2e;
    cursor: pointer;
}

.qa_main {
    box-sizing: border-box;
    padding: 0px;
    border: 1px solid #e8dcd7;
    height: 0;
    opacity: 0;
    font-size: 0;
    line-height: 0;
    transition:height .5s,opacity .0s;
}


#qa_a:checked~.qa_wrap_box .qa_main_a {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    opacity: 1;
    line-height: 30px;
    transition:height .5s,opacity .5s .5s;
}

#qa_b:checked~.qa_wrap_box .qa_main_b {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .5s,opacity .5s .5s;
}

#qa_c:checked~.qa_wrap_box .qa_main_c {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .5s,opacity .5s .5s;
}

#qa_d:checked~.qa_wrap_box .qa_main_d {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .5s,opacity .5s .5s;
}

#qa_e:checked~.qa_wrap_box .qa_main_e {
    display: block;
    padding: 10px;
    border: 1px solid #e8dcd7;
    height: 300px;
    font-size: 16px;
    line-height: 30px;
    opacity: 1;
    transition:height .3s,opacity .3s .3s;
}
input{
    display:none;
}
.qna_wrap{
    padding: 50px;
    width: 100%;
    box-sizing: border-box;
    margin:auto;
}

.qna_wrap .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #e8dcd7 solid;
    padding:5px;
    margin-bottom: 40px;  
}

.qna_wrap .title_box .title{
    background: #e8dcd7;
}

.qna_wrap .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
    color: #2e2e2e;
}


@media screen and (min-width:768px){
    .qna_wrap .title_box{
        width: 30vw;
    }
}


/* -- ----------------------content------------------------- - */

/* ------------------wrk---------------------- */

.wrk_header_banner , .acm_header_banner , .rst_header_banner{
    width: 100%;
    margin: auto;
    max-height: 60vh;
    position: relative;
}
.wrk_header_banner img{
    width: 100%;
    max-height: 60vh;
    filter: contrast(50%)
}

.acm_header_banner img{
    width: 100%;
    max-height: 60vh;
    filter: contrast(50%)
}

.rst_header_banner img{
    width: 100%;
    max-height: 60vh;
    filter: contrast(50%)
}

.banner_txt{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translate(0%,50%);
   
}
.banner_txt h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    transform: translate(0%,-50%);
   
}

@media screen and (min-width:768px){
    .banner_txt h1{
        font-size: 90px;
    }
}
/* ------------------------------------------------- */

.title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #ddf0eb solid;
    padding:5px;
    margin-bottom: 40px;        
}

@media screen and (min-width:768px){
    .title_box{
        width:30vw;
    }
}

.title_box .title{
    background: #ddf0eb;
}

.title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
}

.wrk_hotatt{

    box-sizing: border-box;
    padding: 50px;
    position: relative;

}

.wrk_main{
    width: 100%;
    max-width: 1200px;
    margin: auto;

  
}

.wrk_hotatt_t , .wrk_hotatt_b{
  
    display:flex;
    flex-flow: column;
}

.wrk_item{
    box-sizing: border-box;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.22);
    margin-bottom: 40px;
}

@media screen and (min-width:768px){
    .wrk_item{margin-bottom:0;}
}

.wrk_pic{
width: 100%;
}

.wrk_pic img{
    width: 100%;
    
}



.wrk_text a{
    width: 30px;
    height: 30px;
    display: inline-block;
    /* background-color: #000; */
    position: relative;
}

.wrk_text h3{
    font-size: 15px;
    line-height: 30px;
    color: #2e2e2e
}

.wrk_text p{
    font-size: 12px;
    line-height: 28px;
    color: rgb(82, 80, 80);
}

.wrk_text .txt{
    box-sizing: border-box;
    padding: 10px;
}
.wrk_hot_icon{
    display:inline-block;
    width: 20px;
   
}

.wrk_hotatt_t h4{
    font-size: 12px;
    line-height:20px;
    color: #aaa
}

.wrk_hotatt_b h4{
    font-size: 12px;
    line-height:20px;
    color: #aaa
}

.wrk_hotatt_t .txt_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrk_hotatt_b .txt_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 

.line_t , .line_b{
    width: 100%;
    height: 1px;
    /* background-color:#2e2e2e; */
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(0%,-50%);
    transition: .5s;
} */

.lineadd_t{
    transform:rotate(90deg);
}

.lineadd_b{
    transform:rotate(180deg);
}
 */

/* .wrk_bgdisplay{
    height: 55%;
    width: 100%;
    background-color:#ddf0eb;
    position: absolute;
    z-index: -1;
    left:0px;
    top: 0px;
    bottom: 0;
    right: 0;
    transition: .5s;
}

.wrk_bgdisplay_add{
    left: -10px;
    top: 30px;
    transition: .5s;
} */

.wrk_col{
    box-sizing: border-box;
    padding: 20px 40px;
}


@media screen and (min-width:768px){
    .wrk_col{
        box-sizing: border-box;
        padding: 15px;
    }

    .wrk_hotatt_t , .wrk_hotatt_b{
        max-width: 1200px;
        flex-flow:row;
    }
    

}



/* ------------------------------------------------- */
/* -------------------------查看更多地區------------------------ */

.wrk_area_wrap{
    margin-top:60px;
    padding: 50px;
}

.wrk_area_t{
    display:flex;
    flex-flow: row wrap;

}
.wrk_area_col{
    box-sizing: border-box;
    padding: 15px;


}

.wrk_area_pic{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #ddf0eb;
    padding: 5px;
    
}

.wrk_area_box{
    width:100%;
    height:100%;
    background-color:#ddf0eb;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
   
}

.wrk_area_text{
    font-size: 20px;
    font-weight: 600;
    color: #2e2e2e;
}

.wrk_area_box a{
    text-decoration:none;
}

@media screen and (min-width:768px){
    .wrk_area_t{
        flex-flow: row nowrap;
    }
    .wrk_area_text{
        font-size: 30px;
    }

    .wrk_area_pic{
        box-sizing: border-box;
        border: rgba(238, 79, 127,0%) px solid;
        transition: .3s;
    }

    .wrk_area_pic:hover{
        box-sizing: border-box;
        border: #d3bb8d 3px solid;
    }

    .wrk_area_pic{
        height: 200px;
    }
    
}


/* ---------------------------acm--------------------------------------------------------- */

.acm_header_banner{
    width: 100%;
    margin: auto;
    height: 100%;
    max-height: 60vh;
}
.acm_header_banner img{
    width: 100%;
    max-height: 60vh;
}

/* content */

.acm_content{
    width: 100%;
    margin: auto;
}
.acm_hot{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* acm_suggest */
.acm_hot_bg{
    margin-top: 30px;
    padding: 50px 10px;
    box-sizing: border-box;
}

.acm_hot .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #ddf0eb solid;
    padding:5px;
      
}

.acm_hot .title_box .title{
    background: #ddf0eb;
}

.acm_hot .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
    color: #2e2e2e;
}

.acm_hot_warp {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin-bottom: 80px;
  }

  
  
  .acm_pic_pc{
    width: 100%;
   
    font-size: 0;
    display:none;
  }

  .acm_pic_app{
    width: 100%;
   
  }

  .acm_hot_warp .bigpic{
    width: 100%;
    background-color: #ccc;
    position: relative;
  }

  .acm_hot_warp .bigpic> img{
    width: 100%;
    height: 100%;
  }

  .acm_slpic img{
    position: absolute;
    bottom: -100px;
    right: 0px;
    border-radius: 50%;
    box-sizing: border-box;
    border: #fff 3px solid;
  }

  .acm_sspic img{
    position: absolute;
    bottom: -50px;
    right: 150px;
    border-radius: 50%;
    border: #fff 3px solid;
  }
  
  .acm_hot .text_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color:000;
  }
  
  .acm_hot .text_box_pic {
    width: 80%;
    box-sizing: border-box;
    margin: 20px;
 
  }

  .acm_hot .text_box_pic h2{
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 1px;
    color: #D3BB8D;
    text-align: center;
    position: relative;
  }

  .acm_hot .text_box_pic h2::after{
    content:'';
    width: 80%;
    height: 5px;
    background-color: #D3BB8D;
    opacity: .4;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  

  .acm_hot .text_box_txt {
    width: 80%;
    border:2px #bdd6cf dashed; 
    box-sizing: border-box;
    color: #2e2e2e;
    padding: 20px;
    
  
  }
  
  .acm_hot .text_box_txt p{
     
      font-size: 13px;
      line-height: 30px;
      overflow:hidden;
  }
 
 
  @media screen and (min-width: 768px) {
    .acm_hot_warp {
      flex-flow: row;
    }
    .acm_hot_warp .text_box {
      margin-top: 0;
    }
  
    .acm_hot_warp:nth-child(even) .acm_col:first-child {
      order: 1;
    }

    .acm_pic_pc{
      display: block;
    }

    .acm_pic_app{
      display: none;
    }

    .acm_hot_warp{
      margin-bottom: 150px;
    }
    .acm_hot_bg{
      padding: 50px;
    }
    .acm_hot .title_box{
      width: 30vw;
     
    }
    
  }


  
  .more_btn{
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 2px solid #e8dcd7;
    color: #e8dcd7;
    font-size: 13px;
    transition: .3s;
   
 
}

.more_btn:hover{
    border: 2px solid #d3bb8d;
    color: #d3bb8d;
}

.more_btn:active{
    border: 2px solid #bb9f6b;
    color: #bb9f6b;
}

.more_btn_box{
  width: 100%;
  text-align: end;
}
 



  /* -------------------------------- */


  
.acm_area_wrap .title_box{
  width:100%;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  border: 1px #ddf0eb solid;
  padding:5px;
    
}

.acm_area_wrap .title_box .title{
  background: #ddf0eb;
}

.acm_area_wrap .title_box h1{
  font-size: 30px;
  line-height: 50px;
  letter-spacing:5px;
  color: #2e2e2e;
}

@media screen and (min-width:768px){
  .acm_area_wrap .title_box{
    width: 30vw;
  }
}

/* ------------------------------------------rst-------------------------------------------- */
.rst_header_banner {
    width: 100%;
    margin: auto;
    height: 100%;
    max-height: 20vh;
    background-color: #ccc;
    display: flex;
    }

.rst_header_banner .pic{
    
    width: 70%;
    height: 60vh;
    }

.rst_header_banner img{
    width: 100%;
    
}

.rst_header_banner .bgpic {
    background-color: #fff;
    width: 30%;
    /* height: 60vh; */
    }
/* ~header~ */
/* ~content~ */
.rst_content{
    width: 100%;
    margin: auto;
}


/* rst_suggest */
.rst_suggest{
    width: 100%;
    background-color: #e8dcd7;
    padding:50px 50px 0 50px;
    box-sizing: border-box;
    position: relative;
    /* z-index: -1; */
}

.rst_suggest_main a{
    display:block;
    width: 100%;
    height: 100%;
}

/* title_box */
.rst_suggest .title_box{
    width:100%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #fff solid;
    padding:5px;
    margin-bottom: 40px;
           
}

.rst_suggest .title_box .title{
    background: #fff;
}

.rst_suggest .title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
}

/* title_box */
/* rst_suggest_main */
.rst_suggest_main{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:flex;
    flex-flow:column;
}

.rst_suggest_main .item{
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 40px;
} 

.rst_suggest_main .pic{
 
    box-sizing: border-box;
    border: 3px #fff solid;
    background-color: #ccc;
}

.rst_suggest_main img{
    vertical-align: bottom;
    
}

.rst_ad_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 5px;
    color: #d3bb80;
}

.rst_ad_box p{
    font-size: 13px;
    line-height: 30px;
}
@media screen and (min-width:768px){
    .rst_suggest_main{
        flex-flow: row;
        
    }
    .rst_suggest{
        padding: 30px 0px;
    }
 
    .rst_suggest_main .item{
        margin-bottom: 0;
    }

    .rst_suggest .title_box{
        width: 30vw;
    }
    
}

/* rst_suggest_main pic */
.rst_suggest_main .pic a{
    width: 100%;
   
    display: inline-block;
}

.rst_suggest_main .pic img{
    width: 100%;
  
}





/* rst_suggest_main txt */

.rst_suggest_main .txt{
    font-size: 0;
}

.rst_suggest_main h3{
    font-size: 15px;
    line-height: 20px;
}


.star img{
   
    width: 10px;
    margin:0 2px;
}
.starpeo,.rattype,.area{
    font-size: 12px;
    line-height: 20px;
}
.area{
    display:block;
}

.rstpro{
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin: 3px 3px 3px 0;
    padding:2px;
    box-sizing: border-box;
    border: #d3bb80 1.5px solid;
    color: #d3bb80;
}


/* rst_suggest_main */
/* rst_suggest */










/* rat_bg */

/* rat_bg */
/* rat_ad */
.rst_ad_box{
   width: 100%;
   margin-top: 100px;
   margin-bottom: 50px;
   box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.22);
}

.rst_ad_box .rst_ad{
   display: flex;
   flex-flow: column;

}

.rst_ad_box .pic{
   width: 100%;

}

.rst_ad_box .txt{
   width: 100%;
   box-sizing: border-box;
   padding: 30px;
   background-color: #e8dcd7;
}

.rst_ad_box img{
   width: 100%;
   height: 100%;
   vertical-align: bottom;
}

@media screen and (min-width:768px){
.rst_ad_box .rst_ad{
    flex-flow: row;
    align-items: center;
}

.rst_ad_box .pic{
    width: 50%;

}

.rst_ad_box .txt{
    width: 50%;
}


}
/* rat_ad */
    


/* rst_carousel */
.rst_carousel{

margin: auto;
}
.rst_carousel img{
width: 100%;
}
.rst_carousel .owl-dots{
display: none;
}

/* rst_carousel */


/* res_news */
.res_news{
padding: 50px;
box-sizing: border-box;
width: 100%;
background-color: #e8dcd7;

}

/* .res_news_wrap{
display:flex;
flex-flow:column;
justify-content: center;
align-items: center;
max-width: 1200px;
margin: auto;
justify-content: space-between;
}

.res_news_wrap img{
    width: 100%;
}

.res_news_wrap .pic_box{
width: 100%;
height: 30vh;
background-color: #ccc;
}

.res_news_wrap .item{
width: 100%;
height: 20vh;
background-color: #0f0;
margin-top:20px;

}

.res_news_wrap .txt_box{
width: 100%;
height: 100%;
background-color: #ccc;
margin: auto;
box-sizing: border-box;
padding: 5px;
border: 1px #fff solid;

}

.res_news_wrap .txt{
width: 100%;
height: 100%;
background-color: #fff;
opacity: .8;
}

@media screen and (min-width:768px){
.res_news_wrap{
    flex-flow: row;
}
.res_news_wrap .txt_box{
    width: 60%;
}
.res_news_wrap .item{
    margin-top:0;
}
} */





/* res_news */
.res_news{
margin: 100px 0;
}
.res_news .title_box{
width:100%;
text-align: center;
margin: auto;
box-sizing: border-box;
border: 1px #fff solid;
padding:5px;
margin-bottom: 40px;        
}

.res_news .title_box .title{
background: #fff;
}

.res_news .title_box h1{
font-size: 30px;
line-height: 50px;
letter-spacing:5px;
}





@media screen and (min-width:768px){
.res_news .title_box{
    width: 30vw;
}
}

/* ~content~ */

/* --------------------------------acmpg----------------------------------------------------- */
.acmpg_header_main {
    width: 100%;
    max-width: 1200px;
    display: flex;
  
    margin: auto;
}

.aside{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.acmpg_aside {
    width: 20%;
    /* background-color: #0f0; */
    box-sizing: border-box;
    padding: 0 20px
   
}

.acmpg_banner {
    width: 80%;
    box-sizing: border-box;
    border:5px #fff solid;
  
}

.acmpg_banner img{
    width: 100%;
} 

.acmpg_banner .bigimg{
    width:100%;
  
    background-color: #000;
}

.smallimg_col{
    width: 20%;
    height: 100px;
    background-color: #bdd6cf;
    box-sizing: border-box;
    padding: 5px;
}

.smallimg_box{
    display:flex;
}

.smallimg{
    width: 100%;
    height: 100%;
  

}
.acmpg_map{
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;
    box-sizing: border-box;
    border:5px #fff solid;
}

.acmpg_map iframe{
    width: 100%;
    height: 100%;
    position:absolute;
}



.acmpg_area{
    width: 100%;
    box-sizing: border-box;
    border:5px #fff solid;

}



.acmpg_area .pic{
 width: 100%;
 position: relative;
}

.acmpg_area img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.acmpg_area a{
    text-decoration: none;
    display: block;
    font-size: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #bdd6cf;

    
}

.acmpg_area span{
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
   
}

.acmpg_pc{
    display: none;
}

.acm_wrknear{
    width: 100%;
   
}
.acm_wrknear .item{
    width: 100%;
    box-sizing: border-box;
    border:5px #fff solid;
    position: relative;
}


.acm_wrknear .pic{
    width: 100%;
}

.acm_wrknear img{
    vertical-align:bottom;
    width: 100%;
}
.acm_wrknear .txt{
    width: 100%;
}

.acm_wrknear a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 0;
 
}

.acm_wrknear span{
    display: inline-block;
    font-size: 13px;
    position: absolute;
    line-height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #bdd6cf;
}

.acm_wrknear span:hover{
    background-color: #d3bb80;
}

/* ---------app--------- */
.acmpg_map_app{
    width: 100%;
    height:0;
    padding-bottom: 75%;
    position: relative;
}

.acmpg_map_app iframe{
    width: 100%;
    height: 100%;
    position:absolute;
}


@media screen and (min-width:768px){
   
    .acmpg_pc{
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
    .acmpg_app{
        display: none;
    }
    
}


/* acmpg_txt_wrap */

.acmpg_txt_wrap{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding-top:30px;
}
.acmpg_txt_wrap h1{
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 2px;
}


.acmpg_txt_wrap .star_box{
    width: 100%;
    font-size: 0;
    box-sizing: border-box;
    padding: 0 30px;
    
}

.star img{
    width: 10px;
    margin:10px 2px;
}

.kind_box{
    width: 100%;
    font-size: 0;
    box-sizing: border-box;
    padding:10px 30px;
  
}

.kind_box span{
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 2px;
    border: #88aaaa 1px solid;
    background-color: #ddf0eb;
    color: #88aaaa;
}

.acmpg_txt_wrap .txt{
    width: 100%;
    box-sizing:border-box;
    padding:15px 30px;
}

.acmpg_txt_wrap p{
    font-size:15px;
    line-height: 30px;
    letter-spacing: 1px;
}

.acmpg_txt_wrap .icon{
    display: flex;
    align-items: center;
    font-size: 0;
}

.title_wrap{
    display: flex;
    width: 100%;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 0 30px;
}

.acmpg_txt_wrap .icon img{
width: 20px;
margin-left: 10px;
}

/* ---------------------------------- */

.mem_contain{
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    min-width: 390px;
    text-align: center;
}

.mem_contain a{
    display:block;
    text-decoration: none;
    margin: 10px 0;
    padding: 3px;
    font-size: 15px;
    background-color: #d3bb80;
    color: #fff;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 6px;
}

.mem_contain input{
display: block;
width: 100%;
height: 30px;
box-sizing: border-box;
border: 1px solid #e9dfdb;
border-radius: 6px;
margin: auto;
text-align: center;
font-size: 1rem;
}

.mem_contain h2{
    font-size: 20px;
    line-height: 50px;
    color: #d3bb80;
}

.mem_contain h3{
    font-size: 15px;
    line-height: 30px;
    color: #2e2e2e
}

.mem_wrap{
    display: inline-block;
    background-color: #e8dcd7;;
    box-sizing: border-box;
    padding: 50px;
    margin-top: 280px;
    position: relative;
}

.mem_contain input:focus{
    border: 2px solid #d3bb80;
}

.sign_in{
    margin-top:20px;
}

.sign_in a{
    color: #d3bb80;
    background-color: #e8dcd7;
    border: #d3bb80 1px solid;
    box-sizing: border-box;
}

.mem_contain .dog_pic{
    width: 30%;
    height: 30%;
    margin: auto;
   
}

.mem_contain img{
    width: 100%;
    position: absolute;
    top:-300px;
    right: 0;
    margin: auto;
}
