
/* #bdd6cf #e8dcd7 */
    *{
        outline: 1px solid #f00;
           
    }
    body{
        font-family: 'Noto Sans TC', sans-serif;
        min-width: 320px;
        }


    /* ~header~ */
    /* banner & navbar */
    /* banner */
    .rst_header_banner {
        width: 100%;
        margin: auto;
        height: 100%;
        max-height: 60vh;
        background-color: #ccc;
        display: flex;
        }

    .rst_header_banner .pic {
        background-color: #0f0;
        width: 70%;
        height: 60vh;
        }

    .rst_header_banner .bgpic {
        background-color: #fff;
        width: 30%;
        height: 60vh;
        }
    /* ~header~ */
    /* ~content~ */
    .rst_content{
        width: 100%;
        margin: auto;
    }

    
    /* rst_suggest */
    .rst_suggest{
        width: 100%;
        background-color: #e8dcd7;
        padding: 50px;
        box-sizing: border-box;
        position: relative;
        z-index: -1;
    }

    .rst_suggest_bg{
        width: 100%;
        height:30vh;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        z-index: -1;
        display:none;

    }

    /* title_box */
    .title_box{
        width:100%;
        text-align: center;
        margin: auto;
        box-sizing: border-box;
        border: 1px #fff solid;
        padding:5px;
        margin-bottom: 40px;        
    }

    .title_box .title{
        background: #fff;
    }

    .title_box h1{
        font-size: 30px;
        line-height: 50px;
        letter-spacing:5px;
    }

    /* title_box */
    /* rst_suggest_main */
    .rst_suggest_main{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:flex;
        flex-flow:column;
    }

    .rst_suggest_main .item{
        width: 100%;
        background-color: #0f0;
        margin-bottom: 40px;
    } 

    .rst_suggest_main .pic{
        height:30vh;
        box-sizing: border-box;
        border: 3px #fff solid;
        background-color: #ccc;
    }
    @media screen and (min-width:768px){
        .rst_suggest_main{
            flex-flow: row;
        }
        .rst_suggest{
            padding: 50px 0;
        }
        .rst_suggest_bg{
            display:block;
        }
        .rst_suggest_main .item{
            margin-bottom: 0;
        }

        .title_box{
            width: 30vw;
        }
        
    }

    /* rst_suggest_main pic */
    .rst_suggest_main .pic a{
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    .rst_suggest_main .pic img{
        width: 100%;
        height: 100%;
    }
    




    /* rst_suggest_main txt */

    .rst_suggest_main .txt{
        font-size: 0;
    }

    .rst_suggest_main h3{
        font-size: 15px;
        line-height: 20px;
    }

    .star{
        vertical-align: middle;
    }

    .star img{
        width: 10px;
        margin:0 2px;
    }
    .starpeo,.rattype,.area{
        font-size: 12px;
        line-height: 20px;
    }
    .area{
        display:block;
    }

    .rstpro{
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        margin: 3px 3px 3px 0;
        padding:1px;
        box-sizing: border-box;
        border: #e8dcd7 2px solid;
        color: #e8dcd7;
    }
    
    
    /* rst_suggest_main */
    /* rst_suggest */










    /* rat_bg */
    .rst_bg{
        width: 100%;
        height:10vh;
        background-color: #fff;
    }
    /* rat_bg */
    /* rat_ad */
    .rst_ad_box{
        padding: 0 50px;
        box-sizing: border-box;
        width: 100%;
        background-color: #e8dcd7;
    }
    .rst_ad{
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .rst_ad .pic{
        width: 100%;
        height:30vh;
        background-color: #0f0;
    }
    .rst_ad .txt{
        width: 100%;
        height: 30vh;
        background-color: #ccc;
    }

    .rst_bg_m{
        height: 30vh;
    }

   
    @media screen and (min-width:768px){
        .rst_ad{
        flex-flow:row;
        }
        .rst_ad .pic{
            width: 50%;
        }
        .rst_ad .txt{
            width: 50%;
        }
        .rst_ad_box{
            height: 30vh;
        }
        .rst_ad_box{
            padding: 0;
        }

    }
    .rst_bg_m{
        height: 10vh;
    }
    /* rat_ad */
        


    /* rst_carousel */
.rst_carousel{
max-width: 1200px;
margin: auto;
}
.rst_carousel img{
    width: 100%;
}
.rst_carousel .owl-dots{
   display: none;
}

/* rst_carousel */


/* res_news */
.res_news{
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    background-color: #e8dcd7;
   
}

.res_news_wrap{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}

.res_news_wrap .pic_box{
    width: 100%;
    height: 30vh;
    background-color: #ccc;
}

.res_news_wrap .item{
    width: 100%;
    height: 20vh;
    background-color: #0f0;
    margin-top:20px;
   
}

.res_news_wrap .txt_box{
    width: 100%;
    height: 100%;
    background-color: #ccc;
    margin: auto;
    box-sizing: border-box;
    padding: 5px;
    border: 1px #fff solid;
   
}

.res_news_wrap .txt{
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
}

@media screen and (min-width:768px){
    .res_news_wrap{
        flex-flow: row;
    }
    .res_news_wrap .txt_box{
        width: 60%;
    }
    .res_news_wrap .item{
        margin-top:0;
    }
}





/* res_news */







@media screen and (min-width:768px){
    h1{
        font-size: 30px;
        line-height: 50px;
        letter-spacing:5px;
    }
}

    /* ~content~ */
