
body{
    width: 1200px;
    margin: auto; 
    padding: 20px 0;
}
*{
    /* outline: 1px solid #f00; */
}

/* wd_att banner  */

.wd_att_h_banner{
    width: 1200px;
    height: 650px;
    background-image: url(img/alvan-nee-1316903-unsplash.jpg);
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;

}

.wd_att_h_banner_shape{
    width: 200px;
    height: 200px;
    background-color: #bdd6cf;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    transform: rotate(45deg);
    opacity: 0.6;
}

.wd_att_h_banner::after{
    content: "跟著6gogo 一起去遛狗";
    font-size: 20px;
    line-height:80px;
    text-align: center; 
    width: 300px;
    height: 80px;
    border: #fff solid 1px;
    color: #fff;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

/* search_bar */
.search_bar{
    width: 600px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    font-size: 0;
    position: absolute;
    bottom:50px;
    left: 300px;
    opacity: 0.8;
}

select{
    width: 100px;
    outline: none;
}

.search_bar_li{
    display: inline-block;
    margin:10px 10px;
}

label{
    font-size: 13px;
    margin: 0 5px;
}


/* 遛狗景點地區選擇 */

.wd_att_area_ul{
    font-size: 0;
    margin: 20px;

}

.wd_att_area h1{
font-size: 25px;
padding:20px;
}

.wd_att_area_ul li{
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    border: 1px #88aaaa solid;    
   
}

.wd_att_area_ul li:first-child{
    color: #fff;
    background-color: #88aaaa;
    font-weight: bold;
}

.wd_att_area_ul a{
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color:#88aaaa;
    font-weight: bold;
}



/* 熱門景點 */


.wd_att_att{
    width: 1200px;
    position: relative;
    margin: 50px 0;
}

.wd_att_att_item_box{
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wd_att_att h2{
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top:30px;
}

.wd_att_att_item{
    width: 200px;
    height: 250px;
    margin: 10px;
    position: relative;
    border: #ccc 2px solid;
}

.wd_att_att_item::after{
    content: "";
    width: 200px;
    height: 30px;
    background-color: #2e2e2e;
    display: block;
    position: absolute;
    top: 0;
    opacity: 0.3;
}


.wd_att_att_item img{
    width: 200px;
    height: 150px;
}

.wd_att_att_item h3{
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
    color: #2e2e2e;
    margin: 5px;
    
    
}

.wd_att_att_item p{
    font-size: 13px;
    line-height: 18px;
    margin: 5px;
}

.wd_att_att_item span{
    position: absolute;
    top:0;
    color:#fff;
    font-size: 15px;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    margin: 5px;
    z-index: 2;
}

.icon_heart a{
    color:#FF3333;
    position: absolute;
    right:5px;
    bottom: 5px;
}
