
.wrk_header_banner{
    width: 100%;
    margin: auto;
    height: 100%;
    max-height: 60vh;
}
.wrk_header_banner img{
    width: 100%;
    max-height: 60vh;
}
/* ------------------------------------------------- */

.title_box{
    width:30vw;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    border: 1px #ddf0eb solid;
    padding:5px;
    margin-bottom: 40px;        
}

.title_box .title{
    background: #ddf0eb;
}

.title_box h1{
    font-size: 30px;
    line-height: 50px;
    letter-spacing:5px;
}

.wrk_hotatt{

    box-sizing: border-box;
    padding: 50px;
    position: relative;

}

.wrk_main{
    width: 100%;
    max-width: 1200px;
    margin: auto;

  
}

.wrk_hotatt_t , .wrk_hotatt_b{
  
    display:flex;
    flex-flow: column;
}

.wrk_item{
    box-sizing: border-box;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.22);
    margin-bottom: 40px;
}

@media screen and (min-width:768px){
    .wrk_item{margin-bottom:0;}
}

.wrk_pic{
width: 100%;
}

.wrk_pic img{
    width: 100%;
    
}



.wrk_text a{
    width: 30px;
    height: 30px;
    display: inline-block;
    /* background-color: #000; */
    position: relative;
}

.wrk_text h3{
    font-size: 15px;
    line-height: 30px;
    color: #2e2e2e
}

.wrk_text p{
    font-size: 12px;
    line-height: 28px;
    color: rgb(82, 80, 80);
}

.wrk_text .txt{
    box-sizing: border-box;
    padding: 10px;
}
.wrk_hot_icon{
    display:inline-block;
    width: 20px;
   
}

.wrk_hotatt_t h4{
    font-size: 12px;
    line-height:20px;
    color: #aaa
}

.wrk_hotatt_t .txt_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 

.line_t , .line_b{
    width: 100%;
    height: 1px;
    /* background-color:#2e2e2e; */
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(0%,-50%);
    transition: .5s;
} */

.lineadd_t{
    transform:rotate(90deg);
}

.lineadd_b{
    transform:rotate(180deg);
}
 */

/* .wrk_bgdisplay{
    height: 55%;
    width: 100%;
    background-color:#ddf0eb;
    position: absolute;
    z-index: -1;
    left:0px;
    top: 0px;
    bottom: 0;
    right: 0;
    transition: .5s;
}

.wrk_bgdisplay_add{
    left: -10px;
    top: 30px;
    transition: .5s;
} */

.wrk_col{
    box-sizing: border-box;
    padding: 20px 40px;
}


@media screen and (min-width:768px){
    .wrk_col{
        box-sizing: border-box;
        padding: 15px;
    }

    .wrk_hotatt_t , .wrk_hotatt_b{
        max-width: 1200px;
        flex-flow:row;
    }
    

}



/* ------------------------------------------------- */
/* -------------------------查看更多地區------------------------ */

.wrk_area_wrap{
    margin-top:60px;
}

.wrk_area_t{
    display:flex;
    flex-flow: row wrap;

}
.wrk_area_col{
    box-sizing: border-box;
    padding: 15px;


}

.wrk_area_pic{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/bgflower.jpg);
    background-size:cover;
    
}

.wrk_area_box{
    width: 70%;
    height: 70%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
   
}

.wrk_area_text{
    font-size: 20px;
    font-weight: 600;
    background: url(img/bgflower.jpg);
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    white-space:nowrap;
}

.wrk_area_box a{
    text-decoration:none;
}

@media screen and (min-width:768px){
    .wrk_area_t{
        flex-flow: row nowrap;
    }
    .wrk_area_text{
        font-size: 40px;
    }

    .wrk_area_pic{
        box-sizing: border-box;
        border: rgba(238, 79, 127,0%) px solid;
        transition: .3s;
    }

    .wrk_area_pic:hover{
        box-sizing: border-box;
        border: rgb(240, 93, 93) 3px solid;
    }

    /* .wrk_area_box{
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        transition: .5s;
    }
    
    .wrk_area_box:hover{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
    } */
    
    .wrk_area_pic{
        height: 200px;
    }
    
}



